/*==========================================================================*/
/* Advert Holder
/*==========================================================================*/
.advert-holder {
	pointer-events: none;
	font-size: 2.4rem;
	font-weight: 700;
	color: var(--clr-primary-600);
	background: var(--clr-primary-200);
}
