/*==========================================================================*/
/* Button (global)
/*==========================================================================*/
.button {
	border: 0;

	&--secondary {
		font-weight: 600;
		font-size: 1.5rem;
		line-height: 1.8rem;
		padding: 1.5rem 3rem;
		color: #fff;
		background: var(--clr-secondary-400);
		text-transform: uppercase;
		border-radius: 2.4rem;
	}
}
