/*==========================================================================*/
/* Main Feed
/*==========================================================================*/
.main-feed {
	padding-top: 4rem;

	&__load-more {
		font-weight: 600;
		font-size: 1.5rem;
		line-height: 1.8rem;
		padding: 1.5rem 3rem;
		color: #fff;
		background: var(--clr-secondary-400);
		text-transform: uppercase;
		border-radius: 2.4rem;
		display: flex;
		margin: 3.6rem auto 4.2rem;
		cursor: pointer;
	}

	@include breakpoint(st) {
		.row {
			max-width: none;
			display: flex;
			width: 100%;
			flex-wrap: wrap;
			align-items: flex-start;
		}
	}
	@include breakpoint(t) {
		.row {
			max-width: 74rem;
		}
	}
}
