/*==========================================================================*/
/* Main Feed
/*==========================================================================*/
.main-feed {
	padding-top: 4rem;

	&__load-more {
		flex-basis: 100%;
	}

	&__load-more-btn {
		font-weight: 600;
		font-size: 1.5rem;
		line-height: 1.8rem;
		padding: 1.5rem 3rem;
		color: #fff;
		background: var(--clr-secondary-400);
		text-transform: uppercase;
		border-radius: 2.4rem;
		display: flex;
		margin: 3.6rem auto 4.2rem;
		cursor: pointer;

		&.button--loading {
			animation: buttonLoading .8s $easeInOutSine infinite;
			pointer-events: none;

			@keyframes buttonLoading {
				0% {
					opacity: 1;
				}

				50% {
					opacity: 0.9;
					transform: scale(0.95);
				}

				100% {
					opacity: 1;
				}
			}
		}
	}

	&__load-more-end {
		display: none;
		font-weight: 500;
		font-size: 1.2rem;
		line-height: 1.8rem;
		color: var(--clr-shade-400);
		margin: 3.6rem auto 4.8rem;
		justify-content: center;
		text-align: center;


		@include breakpoint(st) {
			font-size: 1.4rem;

			br {
				display: none;
			}
		}
	}

	&__load-more.reached-the-end {
		.main-feed__load-more-btn {
			display: none;
		}
		.main-feed__load-more-end {
			display: flex;
		}
	}

	@include breakpoint(st) {
		.row {
			max-width: none;
			display: flex;
			width: 100%;
			flex-wrap: wrap;
			align-items: flex-start;
		}
	}
	@include breakpoint(t) {
		padding-top: 5.4rem;

		.row {
			max-width: 74rem;
		}
	}
	@include breakpoint(tp) {
		padding-top: 5.4rem;

		.row {
			max-width: 86rem;
		}
	}
	@include breakpoint(dp) {
		padding-left: 34rem;
		padding-top: 4.8rem;
	}
}
