/*==========================================================================*/
/* Post main
/*==========================================================================*/
.post-main {
	&__wrap {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

/*==========================================================================*/
/* Post
/*==========================================================================*/
.post {

	/* Post head
	/*--------------------------------------------------------------------------*/
	&__head {
		margin-bottom: 1.7rem;
	}
	&__label {
		display: inline-block;
		font-size: 1.2rem;
		line-height: 1.8rem;
		padding: .3rem 1rem;
		font-weight: 700;
		text-transform: uppercase;
		color: var(--clr-primary-600);
		background: var(--clr-primary-200);
		border-radius: .6rem;
	}
	&__headline {
		font-size: 2.4rem;
		line-height: 3.3rem;
		font-weight: 700;
		color: var(--clr-secondary-400);
	}

	/* Post statistics
	/*--------------------------------------------------------------------------*/
	&__stats {
		position: relative;
		padding-top: 1.4rem;
		padding-bottom: .6rem;
		display: flex;

		&:before {
			content: "";
			height: .2rem;
			background: var(--clr-primary-200);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			border-radius: .1rem;
		}
	}
	&__stat-item {
		font-size: 1.2rem;
		line-height: 1.8rem;
		font-weight: 500;
		margin-right: 1.5rem;
		color: var(--clr-secondary-200);
		display: flex;
		align-items: center;

		&:last-of-type {
			margin-right: 0;
		}
	}
	&__stat-icon {
		width: 2rem;
		height: 2rem;
		margin-right: .8rem;
		background-position: center;
		background-repeat: no-repeat;
	}
	// statistic specific styling
	&__stat {
		&--difficulty {
			.post__stat-icon {
				background-image: url("/dist/img/icon-chef-hat.svg");
			}
		}
		&--servings {
			.post__stat-icon {
				background-image: url("/dist/img/icon-pie.svg");
			}
		}
		&--prep-time {
			.post__stat-icon {
				background-image: url("/dist/img/icon-clock.svg");
			}

			&__label-long {
				display: none;
			}
		}
	}

	/* Post content
	/*--------------------------------------------------------------------------*/
	&__content {
		color: var(--clr-shade-600);
		font-size: 1.4rem;
		line-height: 2.4rem;
		font-weight: 500;

		p {
			margin-top: 0;
			margin-bottom: 1.2rem;

			&:first-child {
				font-size: 1.8rem;
				line-height: 3rem;
				margin-bottom: 1rem;
			}
		}
	}

	/* Post insights area (likes & comments)
	/*--------------------------------------------------------------------------*/
	&__likes-comments {
		background: var(--clr-primary-200);
		border-radius: 1.2rem;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 1.8rem;
		padding: 1.3rem 0 1.5rem;
		margin-bottom: 2.8rem;
	}

	// Likes
	&__likes-wrap {
		margin-bottom: 1.7rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__likes-avatars {
		display: flex;
		margin-right: 1.2rem;

		img {
			display: block;
			border: .3rem solid white;
			width: 3.4rem;
			border-radius: 1.7rem;
			background: white;
			box-shadow: 0px 0px 0px 1px rgba(black, .03), inset 0px 0px 0px 4px rgba(black, .08);

			&:nth-of-type(n+2) {
				margin-left: -1.8rem;
			}
		}
	}
	&__likes-info {
		margin: 0;
	}

	// Comments
	&__comments-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__comments-icon {
		border: 0;
		background: var(--clr-secondary-400) url(/dist/img/icon-comments.svg) no-repeat center;
		width: 3rem;
		height: 3rem;
		border-radius: 1.5rem;
		margin-right: 1.2rem;
	}
	&__comments-info {
		margin: 0;
	}
}


/*==========================================================================*/
/* Post Recipe specific
/*==========================================================================*/
.post-recipe {
	// Post recipe section
	&__instructions {
		position: relative;
		padding-top: 2.3rem;
		padding-bottom: 2.6rem;
		margin-bottom: 2.1rem;

		// dividers
		&:before, &:after {
			content: "";
			height: .2rem;
			background: var(--clr-primary-200);
			position: absolute;
			left: 0;
			right: 0;
			border-radius: .1rem;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
	}

	&__title {
		font-size: 2rem;
		line-height: 3.6rem;
		margin-top: 0;
		margin-bottom: .5rem;
		color: var(--clr-secondary-400);
	}

	/* Ingredients
	/*--------------------------------------------------------------------------*/
	&__ingredients-section {
		margin-bottom: 1.8rem;
	}

	&__ingredients-list {
		padding: 0;
		margin: 0;
		list-style-type: none;
		padding: 1.4rem 1.8rem;
		background: var(--clr-primary-200);
		border: .2rem solid var(--clr-primary-600);
		border-radius: 1.2rem;
	}

	&__ingredient-item {
		line-height: 1.8rem;
		margin-bottom: .6rem;
		color: var(--clr-secondary-300);

		&:last-child {
			margin-bottom: 0;
		}
	}
	&__ingredient {
		font-weight: 600;
	}
	&__ingredient-prep {
		color: var(--clr-shade-500);
	}
	&__ingredient-separator {
		text-transform: uppercase;
		font-weight: 600;
		color: var(--clr-secondary-400);
		padding-top: .6rem;
		padding-bottom: .6rem;
	}

	/* Directions section
	/*-------------------------------------------------------------------------*/
	&__directions-section {
		margin-bottom: 1.2rem;
	}

	&__directions-list {
		padding: 0 0 0 .1rem;
		margin: 0;
		list-style-type: none;
		counter-reset: directionNum;
	}
	&__direction-item {
		counter-increment: directionNum;
		margin-bottom: 1.8rem;

		&:before {
			content: "Step " counter(directionNum);
			display: block;
			text-transform: uppercase;
			font-weight: 600;
			color: var(--clr-secondary-400);
			margin-bottom: .6rem;
		}
	}

	/* Recipe Print & Share Buttons
	/*--------------------------------------------------------------------------*/
	&__print-share {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 1rem;
	}

	/* Nutrition information
	/*--------------------------------------------------------------------------*/
	&__nutrition {
		padding-top: 2.4rem;
		margin-bottom: 1.2rem;
		position: relative;

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: .2rem;
			border-radius: .1rem;
			background: var(--clr-primary-200);
		}
	}
	&__nutrition-title {
		font-size: 2rem;
		line-height: 2.4rem;
		color: var(--clr-secondary-400);
		margin: 0 0 1.8rem;
	}

	&__nutrition-items {
		list-style-type: none;
		padding: 0;
		margin: 0;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		scroll-snap-type: x mandatory;
		white-space: nowrap;
	}
	&__nutrition-items-wrap {
		position: relative;

		// list fade
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 4rem;
			background:
				linear-gradient( 90deg,
					rgba(white, 0) 0%,
					rgba(white, 0.9) 80%,
					rgba(white, 1) 100%
				);
			z-index: 1;
		}
	}

	&__nutrition-item {
		display: inline-block;
		background: var(--clr-primary-200);
		border-radius: .8rem;
		text-align: center;
		padding: .3rem 0 .7rem;
		width: 6.6rem;
		margin-right: .6rem;
		scroll-snap-align: start;

		&:last-of-type {
			margin-right: 3rem;
		}
	}
	&__nutrition-item-label {
		display: block;
		font-size: 1.1rem;
		line-height: 1.2rem;
		font-weight: 500;
		color: var(--clr-primary-800);
		padding: .8rem 0;
		position: relative;

		&:before {
			content: "";
			display: block;
			position: absolute;
			left: .6rem;
			right: .6rem;
			bottom: 0;
			height: .1rem;
			border-radius: .05rem;
			background: var(--clr-primary-400);
		}
	}
	&__nutrition-item-content {
		display: block;
		font-size: 1.6rem;
		line-height: 2.4rem;
		font-weight: 600;
		color: var(--clr-secondary-400);
		padding: .5rem 0;
	}
}

/*==========================================================================*/
/* Post Gallery
/*==========================================================================*/
.post-main {
	&__gallery {
		display: none; // TEMP


		background: red;
		padding-top: 1.2rem;
		padding-bottom: 1.2rem;
		overflow: hidden;
	}
	&__gallery-wrap {
		background: blue;
		margin: 0 2rem;
		display: flex;
		flex-wrap: nowrap;
	}
	&__gallery-item {
		display: block;
		height: 22.2rem;
		width: 22.2rem;
		flex-shrink: 0;
		margin-right: 2rem;
	}
}
