/*==========================================================================*/
/* Post Excerpt
/*==========================================================================*/
.post-excerpt {
	border-radius: 1.2rem;
	box-shadow:
		0 0 0 .1rem var(--clr-shade-300),
		inset 0 -.6rem 1rem rgba(var(--clr-shade-200-rgb), 0.06),
		0 .5rem 1.2rem rgba(var(--clr-primary-800-rgb), 0.08);
	margin-bottom: 1.8rem;

	/* Thumbnail
	/*--------------------------------------------------------------------------*/
	&__thumb {
		width: 100%;
		padding: 2rem 2rem 0;
		margin-bottom: 2.4rem;

		&-wrap {
			width: 100%;
			border-radius: .6rem .6rem .1rem .1rem;
			overflow: hidden;
			position: relative;

			&:before {
				content: "";
				display: block;
				border: .1rem solid rgba(black,0.08);
				border-radius: inherit;
				padding-bottom: 73.333333%;
				position: relative;
				z-index: 1;
				pointer-events: none;
			}
		}

		&-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		a {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	/* Post body
	/*--------------------------------------------------------------------------*/
	&__body {
		padding: 0 2rem;
	}

	/* Label
	/*--------------------------------------------------------------------------*/
	&__label {
		display: inline-block;
		font-size: 1.2rem;
		line-height: 2.4rem;
		text-transform: uppercase;
		font-weight: 600;
		padding: 0 .8rem;
		color: var(--clr-primary-600);
		background: var(--clr-primary-200);
		border-radius: .6rem;
		margin-bottom: 1rem;
	}

	/* Post title
	/*--------------------------------------------------------------------------*/
	&__headline {
		font-size: 2rem;
		line-height: 2.6rem;
		color: var(--clr-secondary-400);
		margin: 0;
		margin-bottom: .6rem;

		a {
			text-decoration: none;
			color: inherit;
		}
	}

	/* Post excerpt
	/*--------------------------------------------------------------------------*/
	&__excerpt-body {
		position: relative;
		margin-bottom: 1.9rem;
	}

	&__excerpt {
		font-size: 1.3rem;
		line-height: 2.1rem;
		color: var(--clr-shade-600);
		font-weight: 500;
		margin: 0;

		max-height: 3 * 2.1rem; // number of lines
		overflow: hidden;
	}

	/* Read more
	/*--------------------------------------------------------------------------*/
	&__read-more-fade {
		padding: ((2.1rem - 1.8rem) / 2); // make sure that line-heights match
		padding-left: .8rem;
		padding-right: .4rem;
		background: #fff;
		position: absolute;
		bottom: 0;
		right: 0;
		pointer-events: none;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: -3rem;
			width: 3rem;
			height: 100%;
			background: linear-gradient(90deg, rgba(#fff, 0) 0%, rgba(#fff, 0.8) 52.6%, #fff 100%);
		}
	}

	&__read-more {
		display: block;
		font-size: 1.2rem;
		line-height: 1.8rem;
		text-decoration: none;
		font-weight: 600;
		text-transform: uppercase;
		color: var(--clr-secondary-400);
		pointer-events: all;
	}

	&__read-more-guillemet {
		font-size: 1.4rem;
		vertical-align: .1rem;
		line-height: 1.4rem;
	}

	&__read-more-short {
		display: none;
	}

	/* Interaction area
	/*--------------------------------------------------------------------------*/
	&__interaction-bar {
		border-top: .1rem solid var(--clr-shade-100);
		padding: 1.8rem .2rem 2.1rem;
		display: flex;
	}

	// interaction items general
	&__interaction-primary {
		display: flex;
		align-items: center;
		flex: 1;

		> div {
			display: flex;
			align-items: center;

			font-size: 1.4rem;
			line-height: 2rem;
			color: var(--clr-shade-600);
			font-weight: 500;

			margin-right: 1.4rem;

			&:last-child {
				margin-right: 0;
			}

			button {
				display: block;
				border: 0;
				padding: 0;
				width: 1.6rem;
				height: 1.6rem;
				text-indent: 2rem;
				overflow: hidden;
				background: none;
				position: relative;
				white-space: nowrap;

				.svg-inject {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					pointer-events: none;
				}
			}

			span {
				margin-left: .6rem;
			}
		}
	}

	/* Bookmark button
	/*--------------------------------------------------------------------------*/
	&__bookmark-btn {
		path:nth-child(1) {
			fill: #fff;
			transition: fill .3s ease;
		}

		path:nth-child(2) {
			fill: var(--clr-secondary-400);
		}

		&.is-active {
			path:nth-child(1) {
				fill: var(--clr-secondary-400);
			}

			path:nth-child(2) {
				fill: var(--clr-secondary-400);
			}
		}
	}

	/* Likes button
	/*--------------------------------------------------------------------------*/
	&__like-btn {
		path {
			stroke: var(--clr-secondary-400);
			transition: fill .3s ease;
		}

		&.is-active {
			path {
				fill: var(--clr-secondary-400);
			}
		}
	}

	/* Comments button
	/*--------------------------------------------------------------------------*/
	&__comments-btn {
		svg > * {
			fill: var(--clr-secondary-400);
		}
	}

	/* Rating
	/*--------------------------------------------------------------------------*/
	&__rating {
		display: none;
	}

	/* Media queries
	/*--------------------------------------------------------------------------*/
	@include breakpoint(lm) {
		&__rating {
			display: block;

			&-stars {
				display: flex;

				&:hover {
					.post-excerpt__rating-star {
						background-image: url(../img/star.svg);
						opacity: 1;
					}
				}
			}

			&-star {
				width: 1.5rem + 0.2rem;
				height: 1.5rem;
				background: url(../img/star.svg) no-repeat center;
				cursor: pointer;

				&:hover {
					~ div {
						opacity: .4!important;
					}
				}
			}

			// custom rating
			@for $i from 1 through 4 {
				&-stars--#{$i} {
					div:nth-child(n + #{$i + 1}) {
						opacity: .4;
					}
				}
			}
		}
	}
	@include breakpoint(st) {
		margin-bottom: 0;

		&__rating {
			display: none;
		}
	}
	@include breakpoint(t) {

		&__rating {
			display: block;
		}

		/* Large post styling
		/*--------------------------------------------------------------------------*/
		&--large {
			grid-column-end: span 2;
			display: flex;

			.post-excerpt {
				// Thumbnail
				&__thumb {
					padding: 2.2rem 0 2.4rem 2.2rem;
					margin: 0;
				}

				&__thumb-wrap {
					width: 32rem;
					border-radius: .6rem;

					&:before {
						padding-bottom: calc(100% - .2rem);
					}
				}

				// Body
				&__body {
					padding: 2.2rem 3rem 2.6rem 2.4rem;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: stretch;
				}

				&__label {
					align-self: flex-start;
				}

				&__headline {
					font-size: 2.2rem;
					line-height: 3rem;
				}

				&__excerpt {
					max-height: 5 * 2.1rem;
				}

				&__interaction-bar {
					padding-bottom: 0;
				}
			}
		}

		// Right side post style
		&--right {
			.post-excerpt {
				&__thumb {
					order: 1;
					padding-left: 0;
					padding-right: 2.2rem;
				}
				&__body {
					padding-left: 2.4rem;
					padding-right: 3rem;
				}
			}
		}
	}
	@include breakpoint(tp) {
		// Large post excerpt (tablet plus)
		&--large {
			.post-excerpt {
				// Thumbnail
				&__thumb {
					padding: 3rem 0 3rem 3.2rem;
				}
				&__thumb-wrap {
					width: 36rem;
				}

				// Post Excerpt body
				&__body {
					padding: 3rem 3.6rem 3rem 3.2rem;
				}
				&__label {
					font-size: 1.4rem;
					padding-left: 1rem;
					padding-right: 1rem;
				}
				&__headline {
					font-size: 2.6rem;
					line-height: 3.6rem;
					margin-bottom: 1rem;
				}
				&__excerpt {
					font-size: 1.6rem;
					line-height: 2.4rem;
					max-height: 5 * 2.4rem;
				}

				// Read more
				&__read-more-fade {
					height: 2.4rem;
					padding-top: .3rem;
					padding-bottom: .3rem;
				}
				&__read-more-guillemet {
					vertical-align: .05rem;
				}

				// Interaction area
				&__interaction-primary > div { // label
					margin-right: 1.8rem;
				}
				&__rating-star {
					width: 1.9rem;
				}
			}
		}

		// Large right post excerpt
		&--right {
			.post-excerpt {
				&__thumb {
					padding-left: 0;
					padding-right: 3.4rem;
				}
				&__body {
					padding-left: 3.4rem;
					padding-right: 3.2rem;
				}
			}
		}

		// Medium post excerpt
		&--medium {
			.post-excerpt {
				// Post excerpt's body
				&__body {
					padding-left: 3rem;
					padding-right: 3rem;
				}
				&__headline {
					font-size: 2.2rem;
					line-height: 3rem;
				}
				&__excerpt {
					font-size: 1.4rem;
				}

				// Interaction area
				&__interaction-bar {
					padding-top: 2.1rem;
					padding-bottom: 2.4rem;
				}
			}
		}
	}
	@include breakpoint(hd) {
		// Large post excerpt (huge desktop)
		&--large {
			.post-excerpt {
				&__thumb-wrap {
					height: 47.4rem;
					width: 42rem;

					&:before {
						height: 100%;
					}
				}

				&__excerpt {
					max-height: 8 * 2.4rem;
				}
			}
		}

		// Post excerpt large & left aligned
		&--large.post-excerpt--left {
			grid-column-start: 2;
		}

		// Medium post excerpt
		&--medium {
			.post-excerpt {
				&__thumb-wrap {
					&:before {
						padding-bottom: 66.666667%; // 2:3 aspect ratio
					}
				}
			}
		}
	}
}
