/*==========================================================================*/
/* Post main
/*==========================================================================*/
.post-main {
	&__wrap {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

/*==========================================================================*/
/* Post
/*==========================================================================*/
.post {

	/* Post head
	/*--------------------------------------------------------------------------*/
	&__head {
		margin-bottom: 1.7rem;
	}
	&__label {
		display: inline-block;
		font-size: 1.2rem;
		line-height: 1.8rem;
		padding: .3rem 1rem;
		font-weight: 700;
		text-transform: uppercase;
		color: var(--clr-primary-600);
		background: var(--clr-primary-200);
		border-radius: .6rem;
	}
	&__headline {
		font-size: 2.4rem;
		line-height: 3.3rem;
		font-weight: 700;
		color: var(--clr-secondary-400);
	}

	/* Post statistics
	/*--------------------------------------------------------------------------*/
	&__stats {
		position: relative;
		padding-top: 1.4rem;
		padding-bottom: .6rem;
		margin: 0;
		display: flex;

		&:before {
			content: "";
			height: .2rem;
			background: var(--clr-primary-200);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			border-radius: .1rem;
		}
	}
	&__stat-item {
		font-size: 1.2rem;
		line-height: 1.8rem;
		font-weight: 500;
		margin-right: 1.5rem;
		color: var(--clr-secondary-200);
		display: flex;
		align-items: center;

		&:last-of-type {
			margin-right: 0;
		}
	}
	&__stat-icon {
		width: 2rem;
		height: 2rem;
		overflow: hidden;
		text-indent: 3rem;
		white-space: nowrap;
		color: transparent;
		margin-right: .8rem;
		background-position: center;
		background-repeat: no-repeat;
	}
	// statistic specific styling
	&__stat {
		&--difficulty {
			.post__stat-icon {
				background-image: url("/dist/img/icon-chef-hat.svg");
			}
		}
		&--servings {
			.post__stat-icon {
				background-image: url("/dist/img/icon-pie.svg");
			}
		}
		&--prep-time {
			.post__stat-icon {
				background-image: url("/dist/img/icon-clock.svg");
			}

			&__label-long {
				display: none;
			}
		}
	}

	/* Post content
	/*--------------------------------------------------------------------------*/
	&__content {
		color: var(--clr-shade-600);
		font-size: 1.4rem;
		line-height: 2.4rem;
		font-weight: 500;

		p {
			margin-top: 0;
			margin-bottom: 1.2rem;

			&:first-child {
				font-size: 1.8rem;
				line-height: 3rem;
				margin-bottom: 1rem;
			}
		}
	}

	/* Post insights area (likes & comments)
	/*--------------------------------------------------------------------------*/
	&__likes-comments {
		background: var(--clr-primary-200);
		border-radius: 1.2rem;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 1.8rem;
		padding: 1.3rem 0 1.5rem;
		margin-bottom: 2.8rem;
	}

	// Likes
	&__likes-wrap {
		margin-bottom: 1.7rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__likes-avatars {
		display: flex;
		margin-right: 1.2rem;

		img {
			display: block;
			border: .3rem solid white;
			width: 3.4rem;
			height: 3.4rem;
			border-radius: 1.7rem;
			background: white;
			box-shadow: 0px 0px 0px 1px rgba(black, .03), inset 0px 0px 0px 4px rgba(black, .08);

			&:nth-of-type(n+2) {
				margin-left: -1.8rem;
			}
		}
	}
	&__likes-info {
		margin: 0;
	}

	// Comments
	&__comments-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__comments-icon {
		border: 0;
		background: var(--clr-secondary-400) url(/dist/img/icon-comments.svg) no-repeat center;
		width: 3rem;
		height: 3rem;
		border-radius: 1.5rem;
		margin-right: 1.2rem;
	}
	&__comments-info {
		margin: 0;
	}
}


/*==========================================================================*/
/* Post Recipe specific
/*==========================================================================*/
.post-recipe {
	// Post recipe section
	&__instructions {
		position: relative;
		padding-top: 2.3rem;
		padding-bottom: 2.6rem;
		margin-bottom: 2.1rem;

		// dividers
		&:before, &:after {
			content: "";
			height: .2rem;
			background: var(--clr-primary-200);
			position: absolute;
			left: 0;
			right: 0;
			border-radius: .1rem;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
	}

	&__title {
		font-size: 2rem;
		line-height: 3.6rem;
		margin-top: 0;
		margin-bottom: .5rem;
		color: var(--clr-secondary-400);
	}

	/* Ingredients
	/*--------------------------------------------------------------------------*/
	&__ingredients-section {
		margin-bottom: 1.8rem;
	}

	&__ingredients-list {
		padding: 0;
		margin: 0;
		list-style-type: none;
		padding: 1.4rem 1.8rem;
		background: var(--clr-primary-200);
		border: .2rem solid var(--clr-primary-600);
		border-radius: 1.2rem;
	}

	&__ingredient-item {
		line-height: 1.8rem;
		margin-bottom: .6rem;
		color: var(--clr-secondary-300);

		&:last-child {
			margin-bottom: 0;
		}
	}
	&__ingredient {
		font-weight: 600;
	}
	&__ingredient-prep {
		color: var(--clr-shade-500);
	}
	&__ingredient-separator {
		text-transform: uppercase;
		font-weight: 600;
		color: var(--clr-secondary-400);
		padding-top: .6rem;
		padding-bottom: .6rem;
	}

	/* Directions section
	/*-------------------------------------------------------------------------*/
	&__directions-section {
		margin-bottom: 1.2rem;
	}

	&__directions-list {
		padding: 0 0 0 .1rem;
		margin: 0;
		list-style-type: none;
		counter-reset: directionNum;
	}
	&__direction-item {
		counter-increment: directionNum;
		margin-bottom: 1.8rem;

		&:before {
			content: "Step " counter(directionNum);
			display: block;
			text-transform: uppercase;
			font-weight: 600;
			color: var(--clr-secondary-400);
			margin-bottom: .6rem;
		}
	}

	/* Recipe Print & Share Buttons
	/*--------------------------------------------------------------------------*/
	&__print-share {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 1rem;
	}

	/* Nutrition information
	/*--------------------------------------------------------------------------*/
	&__nutrition {
		padding-top: 2.4rem;
		position: relative;

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: .2rem;
			border-radius: .1rem;
			background: var(--clr-primary-200);
		}
	}
	&__nutrition-title {
		font-size: 2rem;
		line-height: 2.4rem;
		color: var(--clr-secondary-400);
		margin: 0 0 1.8rem;
	}

	&__nutrition-items {
		list-style-type: none;
		padding: 0;
		margin: 0;
		padding-bottom: 1.2rem;
		display: flex;
		white-space: nowrap;
		font-size: 0;
	}
	&__nutrition-items-wrap {
		position: relative;
		overflow: hidden;

		// list fade
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: -.1rem;
			bottom: 0;
			width: 4rem;
			background:
				linear-gradient( 90deg,
					rgba(white, 0) 0%,
					rgba(white, 0.9) 80%,
					rgba(white, 1) 100%
				);
			z-index: 1;
		}
	}

	&__nutrition-item {
		display: block;
		background: var(--clr-primary-200);
		border-radius: .8rem;
		text-align: center;
		padding: .3rem 0 .7rem;
		flex: 0 0 6.6rem;

		&:last-of-type {
			margin-right: 7.2rem;
		}
	}
	&__nutrition-item-label {
		display: block;
		font-size: 1.1rem;
		line-height: 1.2rem;
		font-weight: 500;
		color: var(--clr-primary-800);
		padding: .8rem 0;
		position: relative;

		&:before {
			content: "";
			display: block;
			position: absolute;
			left: .6rem;
			right: .6rem;
			bottom: 0;
			height: .1rem;
			border-radius: .05rem;
			background: var(--clr-primary-400);
		}
	}
	&__nutrition-item-content {
		display: block;
		font-size: 1.6rem;
		line-height: 2.4rem;
		font-weight: 600;
		color: var(--clr-secondary-400);
		padding: .5rem 0;
	}
}

/*==========================================================================*/
/* Post Sidebar
/*==========================================================================*/
.post-sidebar {
	&__section {
		margin-bottom: 2.4rem;
		padding-left: 2rem;
		padding-right: 2rem;
		position: relative;

		// section divider
		&:after {
			content: "";
			display: block;
			background: var(--clr-primary-200);
			position: absolute;
			left: 2rem;
			right: 2rem;
			bottom: 0;
			height: .2rem;
			border-radius: .1rem;
		}

		&:last-of-type {
			&:after {
				content: none;
			}
		}
	}

	&__section-title {
		font-size: 2rem;
		line-height: 2.4rem;
		font-weight: 700;
		color: var(--clr-secondary-400);
		margin-top: 0;
		margin-bottom: 1.3rem;
	}

	// User reviews section
	&__section--user-reviews {
		overflow: hidden;

		// carousel styling
		.carousel {
			&__items {
				display: flex;
				align-items: flex-start;
			}

			// indicators
			&__indicators {
				display: grid;
				grid-gap: .2rem;
				grid-auto-columns: min-content;
				grid-auto-flow: column;
				justify-content: center;
				padding: 1.8rem 0 2rem;
			}
			&__indicator {
				display: block;
				width: .6rem;
				height: .6rem;
				background: var(--clr-primary-600);
				border: .1rem solid white;
				border-radius: .3rem;

				&--active {
					border-width: 0;
					background: var(--clr-secondary-400);
					margin: 0 .1rem;
				}
			}
		}

		.user-review {
			flex-shrink: 0;
			width: calc(100% - 6rem);
		}
	}

	// Related recipes
	&__section--related-recipes {
		overflow: hidden;

		.carousel {
			&__items {
				display: flex;
				align-items: flex-start;
			}

			// post excerpt specific styling for related recipes section
			.post-excerpt {
				flex-shrink: 0;
				flex-basis: unquote("min(calc(100vw - 4rem - 3rem), 28rem)");
				transition: box-shadow .3s ease;
				box-shadow: 0 0 0 .1rem var(--clr-shade-300),inset 0 -.6rem 1rem rgba(var(--clr-shade-200-rgb),.06);

				&.swiper-slide-active {
					box-shadow: 0 0 0 .1rem var(--clr-shade-300),inset 0 -.6rem 1rem rgba(var(--clr-shade-200-rgb),.06),0 .5rem 1.2rem rgba(var(--clr-primary-800-rgb),.08);
				}

				&__thumb {
					padding: 1rem 1rem 0;
					margin-bottom: 1.4rem;
				}
				&__thumb-wrap {
					border-radius: .4rem .4rem .2rem .2rem;
				}

				&__body {
					position: relative;
				}
				&__label {
					position: absolute;
					top: -48px;
					color: var(--clr-secondary-400);
					background: white;
					box-shadow: 0 0 0 .1rem rgba(black, .12);
					font-weight: 700;
				}

				&__headline {
					font-size: 1.8rem;
					line-height: 2.4rem;
				}
				&__excerpt {
					font-size: 1.2rem;
					line-height: 1.8rem;
					max-height: 4 * 1.8rem;
				}
				&__excerpt-body {
					margin-bottom: 1.8rem;
				}

				&__read-more-fade {
					padding-top: 0;
					padding-bottom: 0;
				}
				&__read-more {
					font-size: 1rem;
				}
				&__read-more-short {
					display: inline;
				}
				&__read-more-long {
					display: none;
				}
				&__read-more-guillemet {
					vertical-align: baseline;
				}

				&__interaction-bar {
					display: none;
				}
			}
		}
	}

	// Advertisement section
	&__section--advertisement {
		.advert-holder {
			width: 100%;
			max-width: 30rem;
			height: 20rem;
			margin-left: auto;
			margin-right: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 1.2rem;
		}
	}
}

/*==========================================================================*/
/* Post Gallery
/*==========================================================================*/
.post-gallery {
	overflow: hidden;
	margin-bottom: 1.2rem;

	&__wrap {
		padding: 0 2rem 1.8rem;
	}

	&__items {
		display: flex;
	}

	&__item-wrap {
		display: block;
		flex-shrink: 0;
		position: relative;
		border-radius: .6rem;
		box-shadow: 0 .6rem 1.2rem rgba(var(--clr-secondary-400-rgb), .1);
		overflow: hidden;
		cursor: zoom-in;

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: inherit;
			border: .1rem solid rgba(black, .15);
		}
	}

	&__item {
		// size the elements based on viewport
		--gallery-item-breadth: clamp(18rem, calc((100vw - 4rem) / 1.5), 25rem);

		display: block;
		width: var(--gallery-item-breadth);
		height: var(--gallery-item-breadth);
		background: var(--clr-shade-300);
	}

	&__wrap:not(.swiper-container-initialized) {
		.post-gallery__item-wrap {
			margin-right: 2rem;
		}
	}
}
