/*==========================================================================*/
/* Search bar
/*==========================================================================*/
.search-bar {
	position: relative;
	height: 4.2rem;
	border-radius: 1.2rem;

	&__input {
		width: 100%;
		height: 100%;
		border: 0;
		margin: 0;
		font-size: 1.6rem;
		line-height: normal;
		font-weight: 500;
		padding: 1.2rem 1rem 1.2rem 5.6rem;
		background: #fff;
		-webkit-appearance: none;
		border-radius: inherit;

		// iOS 13 bug
		&::-webkit-input-placeholder {
			line-height: inherit;
		}

		// a11y styling
		&:focus {
			outline: none;
			box-shadow: 0 0 0 .4rem rgba(black, .1);
		}
	}

	&__submit {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 5.4rem;
		border: 0;
		padding: 0;
		margin: 0;
		overflow: hidden;
		text-indent: 150%;
		background: 0 0;
		background: url(../img/loupe.svg) no-repeat 2rem center;
		background-size: 2.4rem 2.4rem;

		&:focus {
			outline: none;
			background-color: rgba(black, .08);
			border-radius: inherit;
		}
	}
}
