/*==========================================================================*/
/* Single post
/*==========================================================================*/
.single-post-wrap {
	padding-top: 3.6rem;

	// Single Post Media Queries
	@include breakpoint(lm) {
		padding-top: 4.2rem;
	}
	@include breakpoint(t) {
		padding-top: 5.4rem;
	}
	@include breakpoint(lt) {
		display: grid;
		grid-template-columns: [full-start] 1fr [content-start] 57rem [content-end] 5rem [sidebar-start] 28rem [sidebar-end] 1fr [full-end];
		grid-auto-rows: max-content;

		.post-gallery {
			grid-column: full-start / full-end;
			grid-row: 1 / 2;
		}

		.post-main {
			grid-column: content-start / content-end;
		}

		.post-sidebar {
			grid-column: sidebar-start / sidebar-end;
		}
	}
	// 1340px +
	@media (min-width: 83.75em) {
		padding-left: 34rem;
	}
}
