/*==========================================================================*/
/* Import Fonts (if not loaded externally)
/*==========================================================================*/
@font-face {
	font-family: 'Font Name Here';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Font Name Here'), url(https://fonts.example.com/font.woff2) format('woff2');
}
