/*==========================================================================*/
/* Media queries mixin
/*==========================================================================*/
$breakpoints: (
	lm: 23.125em, // large mobile, landscape 370+
	st: 37.5em, // small tablet 600+
	t: 46.25em, // tablet 740+
	tp: 53.75em, // tablet plus 860+
	lt: 60em, // larger tablet, small desktop 960+
	dp: 75em, // desktop 1200+
	hd: 102.5em // huge desktop 1640+
);

@mixin breakpoint($breakpoint) {
	$raw-query: map-get($breakpoints, $breakpoint);

	@if $raw-query {
		$query: if(
			type-of($raw-query) == 'string',
			unquote($raw-query),
			inspect($raw-query)
		);

		@media (min-width: #{$query}) {
			@content;
		}
	} @else {
		@error 'No value found for: #{$breakpoint} breakpoint';
	}
}

/**
 * Example:
 *
body {
	@include breakpoint(st) {
		color: red;
	}
}*/
